@import "/variables";

.card {
  border: 1px solid $border-color-grey;
  background-color: $background-1;
  margin-bottom: 1.3em;
  border-radius: 10px;
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75em;

    .profile {
      margin-bottom: 0;
    }

    .cardButton {
      height: 30px;
      margin-right: 5px;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .cardImage {
    width: 100%;
    display: block;
  }

  .likedBy {
    display: flex;
    padding-left: 1em;

    span {
      color: $font-color-primary;
      font-size: 0.75em;
      margin-left: 0.5em;
      padding-top: 0.5em;
    }
  }

  .comments {
    margin-bottom: 0.50em;
    color: $font-color-primary;
  }

  .timePosted {
    font-size: 0.7em;
    padding: 1em 1.60em;
    color: $font-color-secondary;
    border-bottom: 1px solid $border-color-grey-secondary;
  }

  .addComment {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    padding: 1.5em 1.35em;

    .commentText {
      color: $font-color-secondary;
    }

    .postText {
      color: $link-color-secondary;
    }
  }
}

@media only screen and (max-width: 640px) {
  .card {
    border: none;
    margin-bottom: 0.75em;
    .comments {
      margin-bottom: 0.3em;
    }
    .addComment {
      display: none;
    }
    .timePosted {
      border: none;
    }
  }
}
