.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 12px;
    width: 100%;
    @media only screen and (max-width: 500px) {
        gap: 4px;
        margin-top: 8px;
    }
}