.wrap{
    align-items: center;
    display: flex;
    justify-content: center;
}
.post {
    cursor: pointer;
    width: 220px;
    height: 200px;
    object-fit: cover;
   
    @media only screen and (max-width: 800px) {
        width: 200px;
        height: 180px;
    }

    @media only screen and (max-width: 650px) {
        aspect-ratio: 1.1 / 1;
        width: 180.5px;
        height: auto;
    }

    @media only screen and (max-width: 600px) {
        aspect-ratio: 1.1 / 1;
        width: 170.5px;
        height: auto;
    }

    @media only screen and (max-width: 550px) {
        aspect-ratio: 1.1 / 1;
        width: 160.5px;
        height: auto;
    }
      
    @media only screen and (max-width: 500px) {
        aspect-ratio: 1.1 / 1;
        width: 118.5px;
        height: auto;
    }
}
