@import "/variables";


.main {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $background-2;
  font-family: $font;
  font-size: 16px;
  @media only screen and (max-width: 640px) {
    background-color: $background-1;
  }
}

.profile-card {
  display: flex;
  margin-top: 12px;
}

@media only screen and (max-width: 800px) {
  .main {
    margin-top: 50px;
  }
}